<h1>Please log in</h1>
<form action="/login" , method="POST">
    <div class="line">
        <label>E-mail:</label>
        <input maxlength="50" required="true" type="text" name="username" tabindex="1"
               autofocus>
    </div>
    <div class="line">
        <label>Password:</label>
        <input maxlength="12" required="true" type="password" name="password"
               tabindex="2">
    </div>
    <div class="line">
        <input type="submit" value="Login">
    </div>
</form>